@import url(https://fonts.googleapis.com/css?family=Montserrat);
:root {
    --primaryColor : rgb(50, 161, 205);
}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Montserrat;
}
body {
    background-color: rgb(241, 241, 241);
    padding: 25px 50px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
    color: var(--primaryColor)
}
nav {
    position: sticky;
}
li {
    list-style: None;
    display: inline;
}
.WorkForMe-Navbar {
    background-color: white;
}
.WorkForMe-Navbar-Wrapper {
    padding: 10px 30px;
}
.workforMe-Logo {
    display: inline;
    color: var(--primaryColor);
}
.workforMe-Logo h1 {
    display: inline;
}
.navbar-link {
    float: right;
    padding-top: 5px;
}  
.navbar-link li {
    margin:0px auto;
    padding: 0px 10px;
    border-right: 2px solid var(--primaryColor);
} 
.clearfix {
    clear: both;
}
.workforme-header {
    margin: 20px auto;
    position: relative;
}
.workforme-header img:hover {
    border: 2px solid var(--primaryColor);
    transition: all 0.5s ease-in-out;
}
.workforme-header img {
    width: 100%;
    height: 500px;
    display: block;
}
.workforme-headertext {
    display: inline;
    position: absolute;
    top: 200px;
    left: 50px;
}
.workforme-headertext:hover {
    color: rgb(4, 28, 37);
    transition: all 1s ease-in-out;
}
.workforme-headertext h1 {
    font-size: 3em;
    font-weight: bolder;
}
.workforme-headertext .workforme-headertext-one {
    font-weight: bold;
    font-size: 1.3em;
}
.workforme-headertext .workforme-headertext-two  {
    font-style: italic;
}

/* Landing Page About US section */
.aboutus  h1 {
    text-align: center;
    color: rgb(4, 28, 37);
}
.aboutus-container {
    margin: 20px auto;
}
.aboutus-wrapper {
    padding: 20px auto;
    display: flex;
    justify-items: center;
    align-items: center;
}
.aboutus-wrapper img {
    width: 250px;
    height: 200px;
    border: 2px solid var(--primaryColor);
    border-radius: 5px;
}
.aboutus-wrapper p {
   margin-left: 30px;
   font-size: 1.3em;
   color:  rgb(4, 28, 37);
}

/* Service Wrapper */
.services h1 {
    text-align: center;
}
.services-wrapper {
    padding: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.service-wrapper img {
    width: 250px;
    height: 200px;
    border: 2px solid var(--primaryColor);
    border-radius: 5px;
}
.service-container {
    margin: 20px;
    box-sizing: border-box;
    text-align: center;
}
.service-wrapper p {
   
   font-size: 1.3em;
   color:  rgb(4, 28, 37);
}
.service-wrapper a {
    font-style: italic;
    font-size: 0.9em;
}
.newsletter-cat {
    background: var(--primaryColor);
}
.newsletter-wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}
.newsletter-left {
    font-size: 1.3em;
}
.newsletter-right input {
    height: 2.4em;
    caret-color: rgb(4, 28, 37);
    border: 2px solid rgb(4, 28, 37);
}
.newsletter-right button {
    height: 2.4em;
    width: 6em;
    border: 2px solid rgb(4, 28, 37);
}
.newsletter-right button:hover {
    color: white;
    background-color: var(--primaryColor);
}
/* media queries */
@media (max-width: 768px) {
    .aboutus-wrapper {
        display: block;
        margin: 0px;
        text-align: center;
    }
    .aboutus-wrapper p {
        margin-top: 20px;
        margin-left: 0px;
        text-align: center;
    }
    .services-wrapper {
        display: block;
        margin: 0px;
        text-align: center;
    }
    .services-wrapper p {
        margin-top: 20px;
        margin-left: 0px;
        text-align: center;
    }
    .newsletter-wrap {
        display: block;
    }
    body {
        box-sizing: border-box;
        padding: 25px 0px;
    }
}
/* Registrtion Page starts here */
.signup-page-cont {
    width: 400px;
    border: 2px solid var(--primaryColor);
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    margin: 20px auto;
}
.signup-page-wrapper label {
    font-size: 1.3em;
    display: block;
}
.signup-page-wrapper input {
    height: 2.5em;
    background: none;
    border: 2px solid rgb(4, 28, 37);
    outline: none;

}
.signup-page-wrapper button {
    height: 2.4em;
    width: 6em;
    border: 2px solid rgb(4, 28, 37);
}
.signup-page-wrapper button:hover {
    color: white;
    background-color: var(--primaryColor);
}
.signup-page-wrapper div {
    margin-top: 20px;
}